<div class="card-body">
    <h5 class="card-title">Answer: <code>@PuzzleDetails.Answer</code></h5>
    <h6 class="card-subtitle pb-2 text-muted">Run time: <code>@PuzzleDetails.ElapsedRunTime.ToString()</code></h6>

    <div class="card">
        <div class="card-header">
            Input
        </div>
        <div class="card-body">
            <pre class="my-0"><code>
            @for (int i = 0; i < PuzzleDetails.Input.Count; i++)
            {
                if (i + 1 == PuzzleDetails.Input.Count)
                {
                    @(PuzzleDetails.Input[i])
                }
                else
                {
                    @(PuzzleDetails.Input[i] + Environment.NewLine)
                }
            }
            </code></pre>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Puzzle PuzzleDetails { get; set; } = Puzzle.EmptyPuzzle;
}
