@page "/"

<PageTitle>Home</PageTitle>

<div class="page-header">
    <h1>Hello, people of earth!</h1>
</div>

<div class="">
    <p>Find here my solutions to <a href="https://adventofcode.com/2023/" target="_blank">Advent of Code 2023</a> using <a href="https://dotnet.microsoft.com/en-us/languages/csharp" target="_blank">C#/.NET8</a>.</p>

    <p>Also giving <a href="https://github.com/dotnet/aspire" target="_blank">.NET Aspire</a> a whirl.</p>
</div>
